<!doctype html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
  
  <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css"> 
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>  
      
</head>

<body>
	<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="myModalLabel">Alert</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body"></div>
	    </div>
	  </div>
	</div>

	<div class="bg-gray-300">
	    <div class="py-12">
	        <div class="col-md-10 mx-auto bg-white shadow-lg rounded-lg my-5 d-flex">
	            <div class="col-md-8">
					<div class="card my-5 mx-5 border border-secondary">
			            <div class="card-header p-0 position-relative mt-n4 z-index-2">
			              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex align-items-center">
								<h6 class="text-black text-capitalize ps-4">Shipping Address</h4>
			              </div>
			            </div>
			            <div class="card-body px-0 pb-2">
			                <p class="card-text ms-5 mt-3 fs-6">Enter your shipping address details here :</p>
			            	<form class="row mx-5 my-2" id="newAddressForm">
									
							<!--  Contact Details  -->
								<div class="col-md-6 mt-2">
								    <label for="inputName" class="form-label">Full Name</label>
								    <input type="text" id="inputName" class="form-control ps-3 border border-1 border-secondary mb-2" required>
								</div>
								<div class="col-md-6 mt-2">
								    <label for="inputContactNumber" class="form-label">Contact Number</label>
								    <input type="text" id="inputContactNumber" class="form-control ps-3 border border-1 border-secondary mb-2" required>
								</div>
							  
			  
							  <!-- Address Starting -->
							  <div class="col-12">
							    <label for="inputAddress" class="form-label">Address 1</label>
							    <input type="text" class="form-control border border-1 border-secondary ps-3 mb-2" id="inputAddress"  placeholder="1234 Main St" required>
							  </div>
							  <div class="col-12">
							    <label for="inputAddress2" class="form-label">Address 2</label>
							    <input type="text" class="form-control border border-1 border-secondary ps-3 mb-2" id="inputAddress2" placeholder="Apartment, studio, or floor" required>
							  </div>
							  <div class="col-md-4">
							    <label for="inputCity" class="form-label">City</label>
							    <input type="text" class="form-control border border-1 border-secondary ps-3 mb-2" id="inputCity" required>
							  </div>
							  <div class="col-md-4">
							    <label for="inputState" class="form-label">State</label>
							    <input type="text" id="inputState" class="form-control ps-3 border border-1 border-secondary mb-2" required>
							  </div>
							  <div class="col-md-4">
							    <label for="inputZip" class="form-label">Zip</label>
							    <input type="text" class="form-control border border-1 border-secondary ps-3 mb-2" id="inputZip" required>
							  </div>
							 
							  <!--Address Registration Completed-->				  
							  
							  <div class="col-12  d-flex justify-content-between">
							    <a id="addressBtn"  type="button" class="btn btn-primary mt-4 ms-2 my-3" >Add Address</a>
							  </div>
							</form>                   
			            </div>
			        </div>
			        
			        <div>
						<div id="flash-notification" class="px-5"></div>
						
						<div class="card mb-5 mx-5 border border-secondary">
				            <div class="card-header p-0 position-relative mt-n4 z-index-2">
				              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex align-items-center justify-content-center">
									<h5 class="text-black text-capitalize ps-4 text-center">Available Addresses</h4>
				              </div>
				            </div>
				            <div class="card-body p-3" >
								<div id="flash-notification"></div>
								<h6 class="mb-2 text-capitalize">Select one address and proceed further :</h6>
				                <div class="card col-md-5 d-inline-flex m-2 px-2" th:each="address,addressIndex :${addressList}">
								  <div class="card-body"  onclick="myFunction(this.getAttribute('data-addressCard-id'))" style="cursor: pointer;" th:data-addressCard-id="${address.addressId}">
										<h6 class="card-text text-center" th:text="'Address : ' + ${addressIndex.index + 1}"></h6>
										<hr>
										<p class="card-text mb-0" th:id="'addressId-' + ${address.addressId}" style="display: none;"></p>
									    <p class="card-text mb-0" th:text="${address.addressLineOne}+ ','"></p>
									    <p class="card-text mb-0" th:text="${address.addressLineTwo}+ ','"></p>
									    <p class="card-text mb-0" th:text="${address.city}+ ','"></p>
									    <p class="card-text mb-0" th:text="${address.state}+ ','"></p>
									    <p class="card-text mb-0" th:text="${address.pinCode}"></p>
								    
								  </div>
								</div>
				            </div>
				        </div>    
				    </div>  
			    </div>
			    
			    <div class="col-md-4 pt-5 pe-5">
			        <div class="row">
			            <div class="col">
			                <div class="card mb-4">
						          <div class="card-header py-3">
						            <h5 class="mb-0">Order Details</h5>
						          </div>
						          <div class="card-body">
						            <ul class="list-group list-group-flush">
						              <li
						                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
						                SubTotal
						                <span id="subTotal" th:text="${subTotal}+' Rs'"></span>
						              </li>
						              
									  <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
						                Shipping Cost
						                <span>0.0 Rs</span>
						              </li>
						              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
										  Discount
						                  <span id="couponAmount" th:text="${couponAmount}+' Rs'"></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center px-0  border-0 pb-0">
										  <strong>Grand Total</strong>
										  <div>
						                  <strong id="grandTotal" th:text="${grandTotal}+' Rs'"></strong>
						                </div>
									  </li>
						            </ul>
					          </div>
					        </div>
			            </div>
			        </div>
			        <div class="col">
		                <div class="card mt-4">
						  <div class="card-body">
						    <h5 class="card-title text-center">Payment Details</h5>
						    <hr>
						    <form id="paymentForm">
							<div th:each="paymentMethod : ${paymentMethodList}" class="px-2 py-2">
					            <label>
					                <input type="radio" th:name="paymentMethodId" th:value="${paymentMethod.paymentMethodName}" th:text="${paymentMethod.paymentMethodName}" /> 
					            </label>
					            <br>
					        </div>

						    <div class="d-flex justify-content-around mt-2">
							    <input type="hidden" id="grandTotal1" name="grandTotal" th:value="${grandTotal}" >
							    <input id="proceedCheckout" type="submit" class="btn btn-warning" value="Proceed to Payment">
							</div>
							</form>
						  </div>
						</div>
		            </div>
			        <div class="d-flex justify-content-around">
						<a th:href="@{/user/shoppingCart}" class="btn btn-primary mt-4 my-3">Return to Cart</a>
					</div>
			    </div>
			    
				
	        </div> 
	    </div>
	</div>
			
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="../assets/js/custom-checkout.js" ></script>
	

</body>
</html>








