<!doctype html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
  
  <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css"> 
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      
</head>

<body>
	
  <main>
      <section class="h-100 gradient-custom">
		  <div class="container py-5">
		    <div class="row d-flex justify-content-center my-4">
		      <div class="col-md-8">
		        <div class="card mb-4">
		          <div class="card-header py-3">
		            <h5 class="mb-0 text-center">Order Items</h5>
		          </div>
		          <div class="card-body" >
		            <!-- Single item -->
		            <div class="row m-4 border border-secondary py-3" th:each="orderItem:${orderItemList}">
		              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
		                <!-- Image -->
		                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
		                  <img th:src="@{'/guest/showImage/' + ${orderItem.product.productImages[0].imageId}}"
		                    class="w-100" style="min-height:200px; max-height: 220px;" alt="Blue Jeans Jacket" />
		                    <a th:href="@{/guest/productDetails(id=${orderItem.product.productId})}">
		                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
		                  </a>
		                </div>
		                <!-- Image -->
		              </div>
		
		              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
		                <!-- Data -->
		                <p><strong th:text="${orderItem.product.productName}"></strong></p>
		                <p th:text="${orderItem.product.description}"></p>
		              </div>
		              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
		                <!-- Data -->
		                <div class="d-flex">
							<p class="ms-4 text-start me-3">Item Quantity: </p>	
							<p class="text-end" th:text="${orderItem.orderItemCount}"></p>
						</div>
		                <div class="d-flex">
							<p class="ms-4 text-start me-3">Product Price: </p>	
							<p class="text-end" th:text="${orderItem.product.price}+'.0 Rs'"></p>
						</div>
						<hr class="my-2">
		                <div class="d-flex">
							<p class="ms-4 text-start me-5">Sub Total: </p>	
							<p class="text-end" th:text="${orderItem.product.price}*${orderItem.orderItemCount}+'.0 Rs'"></p>
						</div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="col-md-4">
		        <div class="card mb-4">
		          <div class="card-header py-3">
		            <h5 class="mb-0 text-center">Payment Details</h5>
		          </div>
		          <div class="card-body">
		            <ul class="list-group list-group-flush">
					  <li th:if="${order.transcationId} != null" class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
						  Transcation Id
		                  <span th:text="${order.transcationId}"></span>
					  </li>
		              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
		                SubTotal
		                <span id="subTotal" th:text="${order.getActualAmount()}+' Rs'"></span>
		              </li>
		              
					  <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
		                Shipping Cost
		                <span>0.0 Rs</span>
		              </li>
		              <li class="list-group-item d-flex justify-content-between align-items-center px-0 ">
						  Discount
		                  <span th:if="${order.coupon} == null">0.0 Rs</span>
		                  <span th:if="${order.coupon} != null" th:text="${order.getActualAmount()}-${order.orderAmount}+' Rs'"></span>
					  </li>
					  
					  <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
						  <strong>Grand Total</strong>
						  <div>
		                  <strong id="grandTotal" th:text="${order.orderAmount}+' Rs'"></strong>
		                </div>
					  </li>  
					  
		            </ul>
		          </div>
		        </div>
		        
		        <div class="card mb-4">
		          <div class="card-header py-3">
		            <h5 class="mb-0">Order Details</h5>
		          </div>
		          <div class="card-body">
		            <ul class="list-group list-group-flush">
		              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
		                Order Id
		                <span th:text="${order.orderId}"></span>
		              </li>
		              
					  <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0 pb-0">
		                Ordered Date
		                <span th:text="${order.orderedDate}"></span>
		              </li>
		
					  <li class="list-group-item d-flex justify-content-between align-items-center px-0  border-0 pb-0">
						  Ordered Quantity
		                  <span th:text="${order.orderedQuantity}"></span>
					  </li>  
					  <li class="text-success list-group-item d-flex justify-content-between align-items-center px-0  border-0 pb-0">
						  Order Status
		                  <span th:text="${order.orderStatus}"></span>
					  </li>
		            </ul>
		          </div>
		        </div>
		        
		        <div class="col-md-4 w-100 d-flex justify-content-center ">
				      <a th:if="${order.orderStatus == 'Shipped' or order.orderStatus == 'Pending'}" th:href="@{/user/order/cancel(id=${order.orderId})}" class="btn btn-primary fs-5">Cancel Order</a>
				      <a th:if="${order.orderStatus == 'Delivered'}" th:href="@{/user/order/return(id=${order.orderId})}" class="btn btn-danger fs-5">Return</a>
				 </div>
	      
		    </div>
		  </div>
		</section>
  </main>	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="../assets/js/custom-cart.js" ></script>
	
	
</body>
</html>








