<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS here -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/css/flaticon.css">
        <link rel="stylesheet" href="../assets/css/slicknav.css">
        <link rel="stylesheet" href="../assets/css/animate.min.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../assets/css/themify-icons.css">
        <link rel="stylesheet" href="../assets/css/slick.css">
        
        <link rel="stylesheet" href="../assets/css/nice-select.css">
	    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
	    <link rel="stylesheet" href="../assets/css/elegant-icons.css" type="text/css">
	    <link rel="stylesheet" href="../assets/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/slicknav.min.css">
        
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/ashion_style.css" type="text/css">

</head>
    

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">shop</a></li>
                                    <li><a href="about.html">about</a></li>
                                    <li class="hot"><a href="#">Latest</a>
                                        <ul class="submenu">
                                            <li><a href="shop.html"> Product list</a></li>
                                            <li><a href="product_details.html"> Product Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="elements.html">Element</a></li>
                                            <li><a href="confirmation.html">Confirmation</a></li>
                                            <li><a href="checkout.html">Product Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href="login.html"><span class="flaticon-user"></span></a></li>
                                <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <!-- Product Details Section Begin -->
    <section class="product-details spad pt-5" style="background-color: #faf6f2;">
        <div class="container">
            <div class="row" th:object="${product}">
                <div class="col-lg-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						  <div class="carousel-indicators">
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
						  </div>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img src="../assets/img/gallery/new_product1.png" class="d-block w-75 img-fluid" alt="..." 
						      style="max-width: 100%; height: auto; margin:0 auto">
						    </div>
						    <div class="carousel-item">
						      <img src="../assets/img/gallery/new_product2.png" class="d-block w-75" alt="..."
						      style="max-width: 100%; height: auto; margin:0 auto">
						    </div>
						    <div class="carousel-item">
						      <img src="../assets/img/gallery/new_product3.png" class="d-block w-75" alt="..."
						      style="max-width: 100%; height: auto; margin:0 auto">
						    </div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Next</span>
						  </button>
					</div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
						<input type="hidden" name="id">
                        <h3 th:text="${product.productName}" class="mb-0"></h3>
                        <h4 style="color: green;" class="mb-2 mt-1">
						    Rs <span th:text="${product.price}"></span>
						</h5>
                        <div th:text="${'Case Size: ' + product.caseSize + 'mm'}" class=" mb-2 ps-3" ></div>
                        <div th:each="entry : ${product.categoryAndSubCategory}" class="d-flex align-items-center ps-3 my-2">
							<h5 th:text="${entry.key + ':'}"></h5> 
							<h6 th:text="${entry.value}" class="ps-1"></h6>
						</div>
						<p th:text="${product.description}" class="my-2"></p>
						
                        <!--<div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>-->
                        
                        <hr>
                        
                        <div class="product__details__button d-flex align-items-center">
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex">
				                <!-- Quantity -->
				                <div class="d-flex mb-4 jutify-items-center" style="max-width: 200px">
				                    <button onclick="countDecrement(this.getAttribute('data-product-id'))" th:data-product-id="${product.productId}" 
				                    class="btn btn-primary ps-2 pe-3 me-2" type="button" style="height: 40px;width: 40px;" >
				                    <i class="fas fa-minus fa-fw"></i>
				                  </button>
				
				                  <p th:data-product-id="${product.productId}" type="text" name="quantity" th:id="'inputId-' + ${product.productId}"
				                    th:text="${cartItemQuantity}" th:field="${cartItemQuantity}" class="py-2 mx-1" 
				                    style="border-radius: 9px; text-align: center; border: 1px solid; font-size: 26px; width: 178px;margin-top: 15px;"></p>
		
				
				                  <button onclick="countIncrement(this.getAttribute('data-product-id'))" th:data-product-id="${product.productId}" 
				                    class="btn btn-primary ps-2 pe-3 me-2" type="button" style="height: 40px;width: 40px;" >
				                    <i class="fas fa-plus fa-fw"></i>
				                  </button>
				            </div>
                            <a th:href="@{/user/addCart(id=${product.productId}, quantity=${cartItemQuantity})}" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            <ul>
                                <li ><a href="#"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                        </div>
                        
                        
                        <!--<div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>-->
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Product Details Section End -->
    
    <!-- Js Plugins -->
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  	<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/mixitup.min.js"></script>
    <script src="../assets/js/jquery.countdown.min.js"></script>
    <script src="../assets/js/jquery.slicknav.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>