<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS here -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/css/flaticon.css">
        <link rel="stylesheet" href="../assets/css/slicknav.css">
        <link rel="stylesheet" href="../assets/css/animate.min.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../assets/css/themify-icons.css">
        <link rel="stylesheet" href="../assets/css/slick.css">
        
        <link rel="stylesheet" href="../assets/css/nice-select.css">
	    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
	    <link rel="stylesheet" href="../assets/css/elegant-icons.css" type="text/css">
	    <link rel="stylesheet" href="../assets/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/slicknav.min.css">
        
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/ashion_style.css" type="text/css">

</head>
    

<body>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a th:href="@{/guest/user}"><img src="../assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a th:href="@{/guest/user}">Home</a></li>
                                <li><a th:href="@{/guest/shop}">shop</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li><a th:href="@{/user/wishlist}"><span class="flaticon-heart"></span></a></li>
                            <li> <a th:href="@{/user/profile}"><span class="flaticon-user"></span></a></li>
                            <li><a th:href="@{/user/shoppingCart}"><span class="flaticon-shopping-cart"></span></a> </li>
                            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary" style="height: 50px;">Logout</a>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

    <!-- Product Details Section Begin -->
    <section class="product-details spad pt-5" style="background-color: #faf6f2;">
        <div class="container">
            <div class="row" th:object="${product}">
                <div class="col-lg-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						  <div class="carousel-indicators">
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
						  </div>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img th:src="@{'/guest/showImage/' + ${product.productImages[0].imageId}}" class="d-block  img-fluid" alt="..." 
						      style="min-width: 75%; max-width: 400px; max-height: 500px;min-height: 400px; margin:0 auto">
						    </div>
						    <div class="carousel-item" th:each="image, imageIndex:${product.productImages}" >
						      <img th:src="@{'/guest/showImage/' + ${image.imageId}}" class="d-block w-75" alt="..."
						      style="min-width: 75%; max-width: 400px; max-height: 500px; min-height: 400px; margin:0 auto" th:if="${#numbers.sequence(2, imageIndex.index)}" >
						    </div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Next</span>
						  </button>
					</div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
						<input type="hidden" name="id">
                        <h3 th:text="${product.productName}" class="mb-0"></h3>
                        <div th:if="${product.discountedPrice == 0.0}">
							<h4 style="color: green;" class="mb-2 mt-1">
							    Rs <span th:text="${product.price}"></span>
							</h5>
						</div>
						<div class="mx-3 d-flex align-items-center" th:unless="${product.discountedPrice == 0.0}">
							<div class="text-xs text-danger fs-5 mb-0" th:text="${product.price}+' Rs'" style="text-decoration: line-through;"></div>
							<div class="text-success fs-4 mb-0 ms-3" th:text="${product.discountedPrice}+' Rs'"></div>
						</div>
                        <div th:text="${'Case Size: ' + product.caseSize + 'mm'}" class=" mb-2" ></div>
                        <div th:each="entry : ${product.categoryAndSubCategory}" class="d-flex align-items-center my-2">
							<h6 th:text="${entry.key + ':'}"></h6>
							<h6 th:text="${entry.value}" class="ps-1"></h6>
						</div>
						<p th:text="${product.description}" class="my-2"></p>
						
                        <!--<div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>-->
                        
                        <hr>
                        
                        <div class="product__details__button mb-0">
                            <a th:if="${product.quantity > 0}" th:href="@{/user/addCart(id=${product.productId}, quantity=${cartItemQuantity})}" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            <ul class="d-flex align-items-center">
                                <li ><a th:href="@{/user/wishlist(id=${product.productId})}"><span class="icon_heart_alt"></span></a></li>
                                <li class="d-flex align-items-center mx-3">
                                    <span class="fs-5">Availability :</span>
	                                    <p th:if="${product.quantity > 0}" class="badge badge-sm bg-success text-white ms-3 mb-0 py-2">
	                                        In Stock
	                                    </p>
	                                    <p th:if="${product.quantity < 1}" class="badge badge-sm bg-danger text-white ms-3 mb-0 py-2">
	                                        Out of Stock
	                                    </p>
                                </li>
                            </ul>
                        </div>
                        
                        <!--Modal Code-->
						<div class="modal fade" id="flash-notification" tabindex="-1" aria-labelledby="flash-notification-label" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="flash-notification-label">Oops!</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						        <!-- The error message will be displayed here -->
						      </div>
						    </div>
						  </div>
						</div>
                        
                        
                        <!--<div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>-->
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    

    
    <!-- Product Details Section End -->
    
    <!-- Js Plugins -->
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  	<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/mixitup.min.js"></script>
    <script src="../assets/js/jquery.countdown.min.js"></script>
    <script src="../assets/js/jquery.slicknav.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.min.js"></script>
    <script src="../assets/js/main.js"></script>
	<script src="../assets/js/custom-cart.js" ></script>
</body>

</html>