<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/css/flaticon.css">
        <link rel="stylesheet" href="../assets/css/slicknav.css">
        <link rel="stylesheet" href="../assets/css/animate.min.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../assets/css/themify-icons.css">
        <link rel="stylesheet" href="../assets/css/slick.css">
        <link rel="stylesheet" href="../assets/css/nice-select.css">
        <link rel="stylesheet" href="../assets/css/ashion_style.css">
        
	    <link rel="stylesheet" href="../assets/css/elegant-icons.css" type="text/css">

</head>

<body>

    <header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
	        <div class="container ">
	            <!-- Brand -->
	            <a class="navbar-brand" href="#"><img src="../assets/img/logo/logo.png" alt=""></a>
	            
	            
	            <!-- Navbar Toggle Button -->
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	
	            <!-- Navbar Items -->
	            <div class="collapse navbar-collapse" id="navbarNav">
	                <ul class="navbar-nav mx-auto">
	                    <li class="nav-item">
	                        <a class="nav-link text-white" th:href="@{/guest/user}">Home</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link text-white" th:href="@{/guest/shop}">Shop</a>
	                    </li>
	                </ul>
	                <ul class="navbar-nav ml-auto">
	                    <li class="nav-item">
	                        <a th:href="@{/guest/login}"><span class="flaticon-user text-white"></span></span></a>
	                    </li>
	                    <li class="nav-item">
	                        <a th:href="@{/user/shoppingCart}">
	                            <i class="text-white fas fa-shopping-cart"></i>
	                        </a>
	                    </li>
	                    <li class="nav-item" sec:authorize="isAuthenticated()">
	                        <a th:href="@{/logout}" class="btn btn-secondary text-white">Logout</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>
	</header>
		

	<div class="d-flex justify-content-center py-4 my-3" style="background-color: #faf6f2;">
	  <div class="col-6 d-flex align-items-center justify-content-center">
          	<input type="search" placeholder="Search" aria-label="Search" class="form-control col-6" id="searchData" th:value="${search}">
          <button id="searchButton" onclick="search()" type="button" class="btn btn-dark mb-0">Search</button>
      </div>         
    </div>
	
	
    <!-- Shop Section Begin -->
    <section class="shop spad my-0 py-0" style="background-color: #faf6f2;">
        <div class="container ms-5 py-5 d-flex">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar form">
                        
                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by Color</h4>
                            </div>
                            <div class="size__list color__list">
                                <label for="black">
                                    Blacks
                                    <input type="checkbox" id="black">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="whites">
                                    Whites
                                    <input type="checkbox" id="whites">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="reds">
                                    Reds
                                    <input type="checkbox" id="reds">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greys">
                                    Greys
                                    <input type="checkbox" id="greys">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="blues">
                                    Blues
                                    <input type="checkbox" id="blues">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="beige">
                                    Beige Tones
                                    <input type="checkbox" id="beige">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greens">
                                    Greens
                                    <input type="checkbox" id="greens">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="yellows">
                                    Yellows
                                    <input type="checkbox" id="yellows">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
						<div class="col-lg-4 col-md-6"  th:each="product:${productList}">
                            <div class="shadow product__item border rounded mx-2" >
								
                                <div class="product__item__pic set-bg" data-setbg="@{'/admin/showImage/' + ${product.productImages[0].imageId}}">
									<div th:if="${product.quantity <= 0}" class="label stockout bg-danger">Out Of Stock</div>
									<a th:href="@{/guest/productDetails(id=${product.productId})}"><img th:src="@{'/guest/showImage/' + ${product.productImages[0].imageId}}" class="w-100 h-100"></a>
                                    <ul class="product__hover">
                                        <li><a th:href="@{'/guest/showImage/' + ${product.productImages[0].imageId}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text px-1 pb-2">
                                    <h6><a th:href="@{/guest/productDetails(id=${product.productId})}" th:text="${product.productName}"></a></h6>
                                    <div class="product__price text-xs text-danger mb-0" th:text="'Rs ' +${product.price}"></div>
                                </div>
                                <div id="myDiv" style="display: none;" th:text="${product.productId}"></div>
                                
                            </div>
                        </div>
						
                        <div class="col-lg-12 text-center">
						    <ul class="pagination justify-content-center">
						        <li th:if="${productList.hasPrevious()}" class="page-item">
						            <a th:href="@{/guest/shop(page=0, size=${size}, search=${search})}" class="page-link border border-secondary text-secondary">First</a>
						        </li>
						        <!-- For the "Previous" link -->
								<li th:if="${productList.hasPrevious()}">
								    <a th:href="@{/guest/shop(page=${productList.number - 1}, size=${size}, search=${search})}" class="page-link text-secondary border border-secondary">Previous</a>
								</li>
								
								<!-- For the other pagination links using a loop -->
								<li th:each="i : ${#numbers.sequence(0, productList.totalPages - 1)}" class="page-item">
								    <a th:href="@{/guest/shop(page=${i}, size=${size}, search=${search})}" th:text="${i + 1}" class="page-link border text-secondary border-secondary"></a>
								</li>
								
								<!-- For the "Next" link -->
								<li th:if="${productList.hasNext()}">
								    <a th:href="@{/guest/shop(page=${productList.number + 1}, size=${size}, search=${search})}" class="page-link border text-secondary border-secondary">Next</a>
								</li>
						        <li th:if="${productList.hasNext()}" class="page-item">
						            <a th:href="@{/guest/shop(page=${productList.totalPages - 1}, size=${size}, search=${search})}" class="page-link text-secondary border border-secondary">Last</a>
						        </li>
						    </ul>
						</div>

                    </div>
                </div>
            </div>
    </section>
    <!-- Shop Section End -->

    <!-- Jquery, Popper, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
    
    <script>
		 $('#searchButton').click(function () {
			const searchData = $('#searchData').val();
	        window.location.href = '/guest/shop?search='+searchData; 
	    });
	</script>
    
    
</body>
</html>