<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/css/flaticon.css">
        <link rel="stylesheet" href="../assets/css/slicknav.css">
        <link rel="stylesheet" href="../assets/css/animate.min.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../assets/css/themify-icons.css">
        <link rel="stylesheet" href="../assets/css/slick.css">
        <link rel="stylesheet" href="../assets/css/nice-select.css">
        <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main>
        <!--================login_part Area =================-->
        <section class="login_part section_padding py-0 mt-5 pt-4">
            <div class="container">
                <div class="row align-items-center justify-content-center  mx-0 my-0">
                        <div class="login_part_form border border-primary">
                            <div class="login_part_form_iner">
								
								<div th:if="${session.registerError}" class="alert alert-danger">
							        	<span th:if="${session.registerError}" th:text="${session.registerError}"></span>
							    </div>
							    <div th:if="${session.registerSuccess}" class="alert alert-success">
							        	<span th:if="${session.registerSuccess}" th:text="${session.registerSuccess}"></span>
							    </div>
								
                                <h3 class="md-5">Hey Welcome ! <br>
                                    Register now</h3>
                                <form class="row contact_form" action="/guest/register_user" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group p_star d-flex">
                                        <div class="col-md-6 form-group p_star">
                                        	<input type="text" class="form-control" id="first_name" name="firstName" value=""
                                            placeholder="First Name" required>
                                    	</div>
                                    	<div class="col-md-6 form-group p_star">
                                        	<input type="text" class="form-control" id="last_name" name="lastName" value=""
                                            placeholder="Last Name" required>
                                    	</div>
                                    </div>
                                    <div class="col-md-12 form-group p_star d-flex">
                                        <div class="col-md-6 form-group p_star">
	                                        <input type="email" class="form-control" id="email_id" name="emailId" value=""
                                            placeholder="Email ID" required>
	                                    </div>
                                    	<div class="col-md-6 form-group p_star">
	                                        <input type="tel" class="form-control" id="phone_number" name="phoneNumber" value=""
                                            placeholder="Phone Number" required>
	                                    </div>
                                    </div>
                                    <div class="col-md-12 form-group p_star d-flex">
                                        <div class="col-md-6 form-group p_star">
	                                    <input type="password" class="form-control" id="password" name="password" value=""
	                                            placeholder="Password" required>
	                                    </div>
	                                    <div class="col-md-6 form-group p_star">
	                                    <input type="password" class="form-control" id="referralCode" name="referralCode" value=""
	                                            placeholder="Referral Code" >
	                                    </div>
                                    </div>
                                    
                                    <div class="col-md-12 d-flex  justify-content-center form-group p_star">
                                        <button type="submit" value="submit" class="btn_3 w-30 me-2">
                                            Send OTP for validation...
                                    	</button>
                                    	<a class="btn_3 w-30 btn btn-warning" th:href="@{/guest/login}" >Login
                                    	</a>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    
    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    
    <!-- Scroll up, nice-select, sticky -->
    <script src="../assets/js/jquery.scrollUp.min.js"></script>
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>

</body>
    
</html>